*.lib
*.pdb
*.ilk
*.exp
*.dll
*.so
*.so.*
*.exe
*.out
*.sdf
*.vcxproj.filters
*.vcxproj.user
*.opensdf
*.v12.suo

build/*
lib/dex/*
lib/dex.*/*
src/deemon/runtime/libffi_linux/*
!src/deemon/runtime/libffi_linux/clean_libffi.sh
!src/deemon/runtime/libffi_linux/make_libffi.sh

